<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %>

    <main class="parent">
        <%- include("./partials/left-div.ejs") %> 
        <div>
            <div class="navbar">
                <a href="/user/signup"><button>Signup</button></a>
                <a href="/user/login"><button>Login</button></a>
            </div>

            <p>A web application that will allow a user to create an account and keep track of any anime they are currrently watching or have completed watching.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus repellendus reiciendis, in laboriosam cumque dignissimos ipsa esse eveniet? Expedita veniam doloremque nemo quaerat debitis culpa alias repellat vel aspernatur nesciunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut reiciendis aliquam enim maiores inventore ipsa, quas veritatis, aperiam cumque unde dolor esse deleniti dolore iusto et earum debitis ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, blanditiis nulla assumenda, delectus, earum repudiandae cum vitae aspernatur sit officiis omnis accusamus exercitationem. Eius magni ex dolores quasi. Magnam, minus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dignissimos atque illo, dolorem modi, iusto, perferendis itaque minus doloremque blanditiis quia porro hic? In, ipsa veritatis provident optio a ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas itaque beatae ab quo eos, id, unde voluptates illo minus voluptas maiores suscipit! Minus recusandae architecto nam, veniam corporis deleniti omnis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat voluptate deserunt, perspiciatis, at totam corrupti vel quos ut ad facilis dicta. Et quos debitis ab, ad deleniti quis? Ea, enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis temporibus molestias magni reprehenderit, atque optio beatae alias delectus inventore nulla nemo nam, laborum autem minus deserunt magnam nostrum dignissimos at?</p>
        </div>
        <%- include("./partials/right-div.ejs") %> 
    </main>
</body>
</html>