<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %>

    <main class="parent">
        <%- include("./partials/left-div.ejs") %> 
        <div>
            <div class="navbar">
                <a href="/user/signup"><button>Signup</button></a>
                <a href="/user/login"><button>Login</button></a>
            </div>
            <p>Welcome to My Anime Watchlist! This is a web application that will allow a user to create an account and keep track of any anime they are currrently watching or have completed watching. So go ahead create an acccount and try it out!</p>
        </div>
        <%- include("./partials/right-div.ejs") %> 
    </main>
</body>
</html>