* {
    background-color: #333;
    color: #ddd;
    text-align: center;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    padding: 2rem;
    grid-column: 1 / 4;
}

.left-side {
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 3;
}

.right-side {
    grid-column: 3 / 4;
}

footer {
    grid-column: 1 / 4;
}

img {
    width: 200px;
    max-height: 300px;
}

.navbar {
    width: 100%;
    overflow: auto;
}

.navbar2 {
    width: 100%;
    overflow: auto;
}

.navbar button {
    float: left;
    background-color: brown;
    padding: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
    width: 50%;
    border-style: double;
}

.navbar2 button {
    float: left;
    background-color: brown;
    padding: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    border-style: double;
}

.logout button {
    background-color: brown;
    padding: 20px;
    font-size: 17px;
    border-style: double;
}

.edit button {
    background-color: brown;
    padding: 20px;
    font-size: 17px;
    border-style: double;
}

.create-new input {
    background-color: brown;
    padding: 20px;
    margin-top: 20px;
    font-size: 17px;
    border-style: double;
}

.show {
    width: 100%;
    overflow: auto;
}

.show button{
    float: left;
    background-color: brown;
    padding: 20px;
    font-size: 17px;
    border-style: double;
    width: 33%;
}

.show input {
    float: left;
    background-color: brown;
    padding: 20px;
    font-size: 17px;
    border-style: double;
    width: 33%;
}

input:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}


